/* CSS RESET */
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
pre,
dl,
dd,
blockquote,
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}
legend {
  padding: 0;
}
fieldset,
ul,
ol {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
body {
  line-height: 1;
}
main,
figure,
figcaption,
img {
  display: block;
} /* IE 11 */
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
fieldset {
  border: 0;
}
input,
textarea,
select,
button {
  display: block;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
label {
  display: table;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  -webkit-appearance: none;
} /* Safari */
button {
  line-height: inherit;
}
button::-moz-focus-inner {
  border: 0;
} /* Firefox */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Amatic SC";
  src: url("./fonts/AmaticSC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: url("./fonts/Roboto-Light.ttf") format("truetype");
}

.font-amatic {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

.font-roboto {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0em;
}

.font-roboto-light {
  font-family: Roboto Light;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0em;
}

[data-target] {
  cursor: pointer;
}

.text-section-title {
  font-size: 2.25rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width:1025px) {
  .text-section-title {
    margin-bottom: 3.75rem;
  }
}